[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
matplotlib = "*"
alpaca-trade-api = "*"
appdirs = "*"
black = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
idna = "*"
msgpack = "*"
mypy-extensions = "*"
pytz = "*"
regex = "*"
requests = "*"
scipy = "*"
six = "*"
tomli = "*"
urllib3 = "*"
websocket-client = "*"
websockets = "*"

[dev-packages]

[requires]
python_version = "3.8"
